<div class="card">
    <div class="card-header">{{ trip.name }}</div>
    <img src="assets/images/{{ trip.image }}"
    alt="trip thumbnail" class="card-img-top">
    <div class="card-body">
        <h3 class="card-subtitle mb-2 text-muted">
            Resort: {{ trip.resort }}
        </h3>
        <p class="card-subtitle mt-3 mb-3 text-muted">
            Length: {{trip.length}} 
        </p>
        <p>Price: {{ trip.perPerson | currency:'USD':'symbol' }} per person</p>

        <p>{{ trip.description }}</p>

        <!-- Customers can books trips -->
        <button 
            type="button"
            *ngIf="isCustomer()"
            (click)="bookTrip(trip)"
            class="btn btn-success"> 
            Book Trip
        </button>

        <!-- Admins can edit trips -->
        <button 
            type="button"
            *ngIf="isAdmin()"
            (click)="editTrip(trip)"
            class="btn btn-primary"> 
            Edit Trip
        </button>

        <!-- Admins can delete trips -->
        <button 
            type="button"
            *ngIf="isAdmin()"
            (click)="deleteTrip(trip)"
            class="btn btn-danger"> 
            Delete Trip
        </button>

        <!-- Display booking or delete message if exists -->
         <p *ngIf="message">
            {{ message }}
        </p>
    </div>
</div>
